
<% if flash[:warning].present? %>
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong><%= flash[:warning] %></strong>
  </div>
<% end %>

<% if flash[:success].present? %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong><%= flash[:success] %></strong>
  </div>
<% end %>

<% if flash[:info].present? %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong><%= flash[:info] %></strong>
  </div>
<% end %>

<% if flash[:danger].present? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong><%= flash[:danger] %></strong>
  </div>
<% end %>
